.logo img{
  height: 30px;
  width: 30px;
  padding: 1em;
}


.login-form {
max-width: 300px;
margin: 0 auto;
padding: 20px;
background: #f4f7f8;
border: 1px solid #ccc;
border-radius: 4px;
height: 320px;
}


.login-form h2 {
text-align: center;
margin-bottom: 20px;
}


.userNameLogin,
.passwordLogin{
width: 95%;
padding: 10px;
margin-bottom: 35px;
border: 1px solid #ccc;
border-radius: 4px;
}


.loginBtn{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: transparent;
  color: black;
  border: 2px solid green;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.loginBtn:hover{
  background-color: green;
  
}

.switchForm{
  margin-top: 2em;
  cursor: pointer;
}

  /* Стилі для форми реєстрації */
  .register-form {
    display: none;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #f4f7f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 350px;
  }

  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .regUserName,
  .regUserPassword,
  .regUserEmail {
    width: 95%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .submitReg {
    width: 100%;
    padding: 10px;
    background: transparent;
    color: black;
    border: 2px solid green;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  .submitReg:hover{
    background-color: green;
  }

  .register-form button {
    margin-top: 2em;
    cursor: pointer;
  }

  .container{
    margin: 0 auto;
    max-width: 60vw;
  }

@media(max-width: 800px){
  .container{
    max-width: 80vw;
  }
}

